.nav {
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.nav ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
}


.nav ul li a,.nav ul li span  {
    text-align: center;
    padding: 30px 20px 30px 10px;
    font-size: 22px;
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
   
}


  

.nav a:hover{
    background-color: gray;
    
}

.nav span:hover {
    color: red;
}