.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .routineType, .fitnessLevel{
    display:flex;
    justify-content: center;
  }
  /*
  .fitnessLevel{
  }
  */
  
  .routineType button, .fitnessLevel button{
    border-style: solid;
    margin: 5px 5px;
    background-color:black;
    color: white;
    padding:15px;
    transition-duration:0.4s;
    cursor:pointer;
    text-align:center;
  }
  
  .routineType button:hover, .fitnessLevel button:hover{
   background-color: gray;
  }
  
  .mainContainer{
    margin-top: 20px;
    /*border-style:solid;*/
    
  }
  
  .mainContainer h3{
    text-align:center;
    width:50%;
  
  }
  
  .pairedContainer{
    display:flex;
    justify-content:space-evenly;
    
  }
  
  .submit{
    text-align:center;
    margin-left: 5%;
  }
  
  .submit button{
    margin-top: 30px;
    font-size: 20px;
    background-color:black;
    color: white;
    padding:10px;
    border: 1px solid black;
    width: 100px;
    cursor:pointer;
  }
  
  .submit button:hover{
    background-color: gray;
  }
  
  