.left{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin: 5px 30px;
    border-style:solid;
    width:45%;



    
}

form{
    display:flex;
    flex-direction: column;
}

form input{
    margin: 5px 0;
}

.edit{
    display:flex;
    justify-content:flex-end;
    width:100%;
   /* margin-left: 90%;*/
}

.edit{
    margin-right:20px;
}

.edit img{
    width:20px;
}

.leftContainer{
    padding: 5px;
}

