.left{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin:50px;
   /* border-style:solid ;*/
    width:45%;

    
}

form{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    
}

form input{
    
    margin: 5px 0;
}