.right{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    /*border: 2px solid red;*/
    
    width:45%;
}


img{
    width: 50%;
    margin:auto;
}
