.authMain {
    min-height: 100vh;
}

.user-authentication-container{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 50px;
    background-color: #ECEFF1;
}

.user-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-heading span {
    color: black;
    font-size: 2.5em;
    font-weight: 500;
}

.underline {
    width: 80%;
    height: 5px;
    border-radius: 20px;
    background: black;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    font-size: 90%;
}

.input input {
    height: 3em;
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    font-size: 1.1em;
    padding-left: 5px;
    border-radius: 15px;
}

.submit-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;

}

.submit-container button {
    margin-top: 30px;
    font-size: 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}

.sign-up {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 90%;
}

.sign-up button {
    margin-top: 10px;
    font-size: 15px;
    color: darkgray;
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer
}